@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1117;
    width: 100vw;
    overflow-x: hidden;
    color: white;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background-color: black;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(89, 88, 88);
    border-radius: 10px;
}

.logo {
    width: 2.5vw;
    height: 2.5vw;
    background: url('assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    left: 1vw;
    top: 0.7vw;
    z-index: 2;
}

.phone-nav-btn {
    display: none;
}

.phone-nav {
    display: none;
}

nav {
    position: fixed;
    width: 100vw;
    padding-top: 0.5vw;
    z-index: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    width: 21vw;
    display: flex;
    justify-content: space-evenly;
    padding-right: 1vw;
}

nav ul li {
    list-style: none;
    text-align: center;
}

li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

li a:after {
    display: block;
    content: '';
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}

li a:hover:after { transform: scaleX(1); }

.home {
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: ellipse(100% 55% at 48% 40%);
}

.home-left {
    background: url('assets/home_left.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: -100px;
    top: 150px;
    opacity: 0;
    animation: fade-right 1200ms ease 500ms forwards;
    transform: rotateZ(50deg);
}

.home-right {
    background: url('assets/home_right.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    position: absolute;
    right: -100px;
    top: 120px;
    opacity: 0;
    animation: fade-left 1200ms ease 500ms forwards;
    transform: rotateZ(-50deg);
}

@keyframes fade-right {
    0% {
        transform: rotateZ(0deg) translateX(-300px);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: rotateZ(50deg) translateX(0);
        opacity: 1;
    } 
}

@keyframes fade-left {
    0% {
        transform: rotateZ(0deg) translateX(300px);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: rotateZ(-50deg) translateX(0);
        opacity: 1;
    } 
    
}

.text {
    text-align: center;
    padding-bottom: 10vw;
}

.home h1 {
    font-size: 4vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.home p {
    font-size: 1.6vw;
    font-weight: 300;
    word-spacing: 1.5px;
    margin-top: 0.5vw;
}

.get-started {
    background: var(--Blue-Gradient, linear-gradient(99deg, #f20dd3 0, #00fff7 100%));
    border: none;
    border-radius: 6px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 0.9vw;
    padding: 0.8vw 1.2vw;
    transition: 300ms ease-in-out;
}

.get-started:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

#background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: -20vw;
    z-index: -1;
}

.about {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
    justify-content: center;
}

.left h1{
    font-size: 3vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.phone-left {
    display: none;
}

.right {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bg {
    background: url('assets/about.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    transform: rotateY(180deg) scale(1.3);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.features {
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background: var(--Blue-Gradient, linear-gradient(99deg, #f20dd3 0, #00fff7 100%));
}

.features h1 {
    font-size: 3vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.feature-cards {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vw;
    flex-wrap: wrap;
}

.phone-cards {
    display: none;
}

.feature-card {
    width: 20vw;
    height: 50vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
    color: white;
    border-radius: 8px;
    padding: 2vw;
}

.feature-card p {
    text-align: center;
    font-size: 1vw;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.autoJoin-img {
    background: url('assets/autoJoin.webp');
}

.correct-img {
    background: url('assets/correct.webp');
}

.random-img {
    background: url('assets/random.png');
}

.notify-img {
    background: url('assets/notify.webp');
}

.feature-img {
    width: 30vw;
    height: 30vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* .pricing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Blue-Gradient, linear-gradient(99deg, #f20dd3 0, #00fff7 100%));
}

.pricing h1{
    color: black;
    font-size: 3vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

#phone-pricing-head {
    display: none;
}

#phone-cards {
    display: none;
}

.pricing .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5vw;
}

.card {
    width: 25vw;
    height: 65vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card .head {
    padding-top: 2vw;
}

.card .head h2 {
    font-size: 3vw;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 0;
}

.price {
    margin-top: 0.5vw;
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 0;
}

.price span {
    font-size: 1vw;
    font-weight: 300;
}

.card ul li {
    list-style: none;
    padding: 0.5vw 0;
    font-size: 1vw;
}

.icon {
    color: #28a745;
    margin-right: 0.5vw;
}

.btn {
    background: var(--Blue-Gradient, linear-gradient(99deg, #f20dd3 0, #00fff7 100%));
    border: none;
    border-radius: 6px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 0.9vw;
    padding: 0.8vw 1.2vw;
    position: absolute;
    bottom: 3vw;
    transition-duration: 200ms;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.pricing-started {
    background: white;
}

.card1 {
    border-radius: 8px 0 0 8px;
    border-right: 1px solid white;
}

.card2 {
    border-radius: 0 8px 8px 0;
}

  
@keyframes glower {
    0% {
      background-position: 0 0;
    }
    
    50% {
      background-position: 400% 0;
    }
    
    100% {
      background-position: 0 0;
    }
} */

/* Footer */
footer {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1117;
    color: white;
}

.footer-top {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
}

.footer-left {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
}

.footer-left h1 {
    font-size: 2.5vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.footer-left p {
    font-size: 1.2vw;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-top: 1vw;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20vw;
    padding-top: 10vh;
}

.footer-right h2 {
    font-size: 1.5vw;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.footer-right ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 5.5vw;
}

.footer-right ul li {
    list-style: none;
    padding: 1vw 0;
}


/* Subscribe Page */
/* .container {
    width: 100vw;
    height: 100vh;
    background: var(--Blue-Gradient, linear-gradient(99deg, #f20dd3 0, #00fff7 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-subscribe {
    border-radius: 8px;
    height: auto;
    padding-bottom: 1vw;
}

.payment-buttons{
    margin-top: 1vw;
    width: 25vw;
} */
